//BLACK SECTION

.natgeo {
	&__black{
		margin: 0 10px;
		color: white;
		background-color: $darkgray;
		display: flex;
		flex-wrap: nowrap;
		align-items: center; 
		&__textsec {
			width: 25%;
			margin: 50px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__subtitle {
			font-size: 25px;
			font-family: $titlesFont;
			text-align: center;
		}
		&__social {
			margin: 0 auto;
			display: flex;
			flex-wrap: nowrap;
			width: 50%;
			font-size: 30px;
			justify-content: space-around;
			&__twitter {
				margin: 0 10px;
				color: $twittercolor;
			}
			&__facebook {
				margin: 0 10px;
				color: $facebookcolor;
			}
			&__instagram {
				margin: 0 10px;
				color: $instagramcolor;
			}
		}
		&__parr {
			font-size: 13px;
			font-weight: bold;
			text-align: center;
		}
		&__smallink {
			font-size: 17px;
			text-align: center;
			font-weight: bolder;
			position: relative;
			color: white;
			border-bottom: 3px solid $yellow;
			}
		
	}
}