//VARIABLES

$desktopwidth: 1024px;
$tabletwidth: 768px;
$mobilewidth: 300px;
$titlesFont: 'Josefin Sans', sans-serif;
$normaltextFont: helvetica, sans-serif;
$yellow: #fecd2f;
$darkgray: #333333;
$mediumgray: #aaaaaa;
$lightgray: #dddddd;
$twittercolor: #38a9ee;
$facebookcolor: #425499;
$instagramcolor: #577da5;

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
	box-sizing: content-box;
	font-family: $normaltextFont;
}

body {
	background-color: #fff;
	margin: 0;
}

h1, a {
	text-decoration: none;
}

.natgeo {
	width: 100%;
	margin: 0;
	&__header {
		font-family: $titlesFont;
		border-bottom: 3px solid $lightgray;
		margin: 0;
	}
	&__topbar {
		position: relative;
		height: 35px;
		display: flex;
		padding: 10px;
		justify-content: flex-end;
		&__bars {
		display: none;
	}
	}
	&__logo {
		display: inline-block;
		height: 49px;
		position: absolute;
		top: 2px;
	}

	&__link {
		display: inline-block;
		width: 260px;
		border-left: 2px solid $yellow;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__element {
		font-size: 20px;
		color: #c1c1c1;
		font-family: $titlesFont;
		font-weight: bold;
		letter-spacing: 2px;
		width: 100%; 
		text-align: center;
		padding: 10px 0;
		margin: 0 auto;
	}
	
	//CENTRAL SECTION

	&__central {
		width: 1024px;
		margin: 0 auto;
		padding: 0;
		margin-bottom: 20px;
	}
	&__maintitle {
		font-size: 55px;
		font-family: $titlesFont;
		letter-spacing: 10px;
		font-weight: normal;
		color: #000000;
		margin: 90px 0;
	}

	&__subtitle {
		font-family: $titlesFont;
		letter-spacing:4px;
		font-weight: normal;
		color: #000000;
		margin: 20px auto;
		font-size: 25px;
	}
	&__seemore {
		font-family: $titlesFont;
		letter-spacing:1px;
		font-weight: normal;
		margin: 20px auto;
		font-size: 20px;
		&__link{
			width: 100%;
			color: #000000;
			position: relative;
			border-bottom: 3px solid $yellow;
		}
	}

	//Travel Photography section

	&__center {
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 20px;

		&__image {
			width: 55%;
			display: inline-block;
		}
		&__text {
			color: black;
			display: flex;
			flex-direction: column;
			width: 45%;
			margin-top: 0;
			padding-left: 10px;
			padding-right: 0;
		}
		&__titlebox {
			margin-top:0;
		}

		&__showmore {
			text-align: center;
			margin: 0 15%; 
			width: 70%;
			padding: 10px 0;
			font-size: 15px;
			background-color: $yellow;
			border: 3px solid $darkgray;
			margin-bottom: 50px;
			&__link {
				color: $darkgray;
			}
		}
	}

	//Photos of the year section

	&__image {
		width: 80%;
		margin: 0 10%;
		padding: 0;
	}

	//BLACK SECTION

	&__black{
		margin: 0 10px;
		color: white;
		background-color: $darkgray;
		display: flex;
		flex-wrap: nowrap;
		align-items: center; 
		&__textsec {
			width: 25%;
			margin: 50px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__subtitle {
			font-size: 25px;
			font-family: $titlesFont;
			text-align: center;
		}
		&__social {
			margin: 0 auto;
			display: flex;
			flex-wrap: nowrap;
			width: 50%;
			font-size: 30px;
			justify-content: space-around;
			&__twitter {
				margin: 0 10px;
				color: $twittercolor;
			}
			&__facebook {
				margin: 0 10px;
				color: $facebookcolor;
			}
			&__instagram {
				margin: 0 10px;
				color: $instagramcolor;
			}
		}
		&__parr {
			font-size: 13px;
			font-weight: bold;
			text-align: center;
		}
		&__smallink {
			font-size: 17px;
			text-align: center;
			font-weight: bolder;
			position: relative;
			color: white;
			border-bottom: 3px solid $yellow;
			}
		
	}

	&__bottom {
		margin: 0 10px;
		background-color:$lightgray;
		display: flex;
		flex-wrap: nowrap;
		&__advert {
			&__1, &__2 {
			border-left: 3px solid $mediumgray;
			margin: 20px;
			padding: 0 20px;
			}
			&__1 {
				width: 70%;
			}
			&__2 {
				width: 30%;
				height: 77px;
			}
			&__title {
				padding-top: 2px;
				letter-spacing: 2px;
				align-items: center;
				margin: 10px 0;
				margin-top: 20px;
				font-size: 25px;
				font-family: $titlesFont;
				color: black;
			}
			&__input {
				width: 15%;
				height: 21px;
				margin-bottom: 20px;
				border: 2px solid $mediumgray;
			}
			&__button {
				font-size: 13px;
				color: $darkgray;
				padding: 5px;
				text-align: center;
				width: 80px;
				border: none;
				height: 20px;
				background-color: $yellow;
			}
		}

	}	
}

@media screen and (max-width: $desktopwidth) {
	

	.natgeo {
		width: 100%;
		&__link {
			display: none;
		}

		&__topbar{
			&__bars {
				color: $darkgray;
				padding: 0;
				display: block;
				font-size: 30px;
				margin: 0 10px;
			}
		}

		//CENTRAL SECTION

		&__central {
			width: auto;
			margin: 0 20px;
		}

		//BLACK SECTION

		&__black {
			margin-top: 20px;
			flex-wrap: wrap;
			&__textsec {
				width: 45%;
				margin: 25px;
			}
			&__subtitle {
				font-size: 20px;
			}
		}
	}

}

@media screen and (max-width: $tabletwidth) {

	.natgeo {

		&__central {
			width: auto;
			margin: 0 10px;
		}
		&__maintitle {
			font-size: 25px;
			margin: 40px 0
		}
		&__subtitle {
			font-size: 20px;
		}
		&__seemore {
			font-size: 15px;
			margin-bottom: 30px;
		}
		
		&__center {
			flex-direction: column;
			&__image, &__text {
				width: 100%;
				margin: 0;
				padding: 0;
			}
			&__titlebox, &__parr {
				margin: 5px 0;
			}
			&__showmore {
				width: auto;
				margin: 0;
			}
		}

		&__image {
			width: 90%;
			margin: 0 5%;
		}

		&__bottom {
			flex-wrap: wrap;
			flex-direction: column;
		}

//BLACK SECTION

		&__black {
			&__textsec {
				margin: 50px;
				width: 100%;
			}
			&__subtitle {
				font-size: 15px;
			}
			&__social {
				font-size: 20px;
			}
			&__parr {
				font-size: 10px;
			}

			&__smallink {
				font-size: 13px;
			}
		}

//BOTTOM SECTION

		&__bottom {
			&__advert {
				&__1, &__2 {
					width: 85%;
					margin: 0 auto;
					border: none;
					padding-left: 0; 
				}
				&__title {
					font-size: 18px;
				}
				&__input {
					width: 50%;
				}
			}
		}
	}
}
