@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@import "./variables.scss";

//general properties

* {
	box-sizing: content-box;
	font-family: $normaltextFont;
}

body {
	background-color: #fff;
	margin: 0;
}

h1, a {
	text-decoration: none;
}

//section properties for desktop

@import "./desktop/header.scss";
@import "./desktop/central_section.scss";
@import "./desktop/travel_photography.scss";
@import "./desktop/black.scss";
@import "./desktop/bottom.scss";

//Media Queries for tablet

@import "./tablet.scss";

//Media Queries for mobile

@import "./mobile.scss";