//Travel Photography section

.natgeo {
	&__center {
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 20px;

		&__image {
			width: 55%;
			display: inline-block;
		}
		&__text {
			color: black;
			display: flex;
			flex-direction: column;
			width: 45%;
			margin-top: 0;
			padding-left: 10px;
			padding-right: 0;
		}
		&__titlebox {
			margin-top:0;
		}

		&__showmore {
			text-align: center;
			margin: 0 15%; 
			width: 70%;
			padding: 10px 0;
			font-size: 15px;
			background-color: $yellow;
			border: 3px solid $darkgray;
			margin-bottom: 50px;
			&__link {
				color: $darkgray;
			}
		}
	}

	//Photos of the year section

	&__image {
		width: 80%;
		margin: 0 10%;
		padding: 0;
	}
}