//VARIABLES

$desktopwidth: 1024px;
$tabletwidth: 768px;
$mobilewidth: 300px;
$titlesFont: 'Josefin Sans', sans-serif;
$normaltextFont: helvetica, sans-serif;
$yellow: #fecd2f;
$darkgray: #333333;
$mediumgray: #aaaaaa;
$lightgray: #dddddd;
$twittercolor: #38a9ee;
$facebookcolor: #425499;
$instagramcolor: #577da5;