@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
* {
  box-sizing: content-box;
  font-family: helvetica, sans-serif; }

body {
  background-color: #fff;
  margin: 0; }

div {
  outline: 2px solid red; }

h1, a {
  text-decoration: none; }

.natgeo {
  width: 100%;
  margin: 0; }
  .natgeo__header {
    font-family: "Josefin Sans", sans-serif;
    border-bottom: 3px solid #dddddd;
    margin: 0; }
  .natgeo__topbar {
    position: relative;
    height: 35px;
    display: flex;
    padding: 10px;
    justify-content: flex-end; }
    .natgeo__topbar__bars {
      display: none; }
  .natgeo__logo {
    display: inline-block;
    height: 49px;
    position: absolute;
    top: 2px; }
  .natgeo__link {
    display: inline-block;
    width: 260px;
    border-left: 2px solid #fecd2f;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .natgeo__element {
    font-size: 20px;
    color: #c1c1c1;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto; }
  .natgeo__central {
    width: 1024px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px; }
  .natgeo__maintitle {
    font-size: 55px;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 10px;
    font-weight: normal;
    color: #000000;
    margin: 90px 0; }
  .natgeo__subtitle {
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 4px;
    font-weight: normal;
    color: #000000;
    margin: 20px auto;
    font-size: 25px; }
  .natgeo__seemore {
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    margin: 20px auto;
    font-size: 20px; }
    .natgeo__seemore__link {
      width: 100%;
      color: #000000;
      position: relative;
      border-bottom: 3px solid #fecd2f; }
  .natgeo__center {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px; }
    .natgeo__center__image {
      width: 55%;
      display: inline-block; }
    .natgeo__center__text {
      color: black;
      display: flex;
      flex-direction: column;
      width: 45%;
      margin-top: 0;
      padding-left: 10px;
      padding-right: 0; }
    .natgeo__center__titlebox {
      margin-top: 0; }
    .natgeo__center__showmore {
      text-align: center;
      margin: 0 15%;
      width: 70%;
      padding: 10px 0;
      font-size: 15px;
      background-color: #fecd2f;
      border: 3px solid #333333;
      margin-bottom: 50px; }
      .natgeo__center__showmore__link {
        color: #333333; }
  .natgeo__image {
    width: 80%;
    margin: 0 10%;
    padding: 0; }
  .natgeo__black {
    margin: 0 10px;
    color: white;
    background-color: #333333;
    display: flex;
    flex-wrap: nowrap;
    align-items: center; }
    .natgeo__black__textsec {
      width: 25%;
      margin: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
    .natgeo__black__subtitle {
      font-size: 25px;
      font-family: "Josefin Sans", sans-serif;
      text-align: center; }
    .natgeo__black__social {
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      width: 50%;
      font-size: 30px;
      justify-content: space-around; }
      .natgeo__black__social__twitter {
        margin: 0 10px;
        color: #38a9ee; }
      .natgeo__black__social__facebook {
        margin: 0 10px;
        color: #425499; }
      .natgeo__black__social__instagram {
        margin: 0 10px;
        color: #577da5; }
    .natgeo__black__parr {
      font-size: 13px;
      font-weight: bold;
      text-align: center; }
    .natgeo__black__smallink {
      font-size: 17px;
      text-align: center;
      font-weight: bolder;
      position: relative;
      color: white;
      border-bottom: 3px solid #fecd2f; }
  .natgeo__bottom {
    margin: 0 10px;
    background-color: #dddddd;
    display: flex;
    flex-wrap: nowrap; }
    .natgeo__bottom__advert__1, .natgeo__bottom__advert__2 {
      border-left: 3px solid #aaaaaa;
      margin: 20px;
      padding: 0 20px; }
    .natgeo__bottom__advert__1 {
      width: 70%; }
    .natgeo__bottom__advert__2 {
      width: 30%;
      height: 77px; }
    .natgeo__bottom__advert__title {
      padding-top: 2px;
      letter-spacing: 2px;
      align-items: center;
      margin: 10px 0;
      margin-top: 20px;
      font-size: 25px;
      font-family: "Josefin Sans", sans-serif;
      color: black; }
    .natgeo__bottom__advert__input {
      width: 15%;
      height: 21px;
      margin-bottom: 20px;
      border: 2px solid #aaaaaa; }
    .natgeo__bottom__advert__button {
      font-size: 13px;
      color: #333333;
      padding: 5px;
      text-align: center;
      width: 80px;
      border: none;
      height: 20px;
      background-color: #fecd2f; }

@media screen and (max-width: 1024px) {
  .natgeo {
    width: 100%; }
    .natgeo__link {
      display: none; }
    .natgeo__topbar__bars {
      color: #333333;
      padding: 0;
      display: block;
      font-size: 30px;
      margin: 0 10px; }
    .natgeo__central {
      width: auto;
      margin: 0 20px; }
    .natgeo__black {
      margin-top: 20px;
      flex-wrap: wrap; }
      .natgeo__black__textsec {
        width: 45%;
        margin: 25px; }
      .natgeo__black__subtitle {
        font-size: 20px; } }

@media screen and (max-width: 768px) {
  .natgeo__central {
    width: auto;
    margin: 0 10px; }
  .natgeo__maintitle {
    font-size: 25px;
    margin: 40px 0; }
  .natgeo__subtitle {
    font-size: 20px; }
  .natgeo__seemore {
    font-size: 15px;
    margin-bottom: 30px; }
  .natgeo__center {
    flex-direction: column; }
    .natgeo__center__image, .natgeo__center__text {
      width: 100%;
      margin: 0;
      padding: 0; }
    .natgeo__center__titlebox, .natgeo__center__parr {
      margin: 5px 0; }
    .natgeo__center__showmore {
      width: auto;
      margin: 0; }
  .natgeo__image {
    width: 90%;
    margin: 0 5%; }
  .natgeo__bottom {
    flex-wrap: wrap;
    flex-direction: column; }
  .natgeo__black__textsec {
    margin: 50px;
    width: 100%; }
  .natgeo__black__subtitle {
    font-size: 15px; }
  .natgeo__black__social {
    font-size: 20px; }
  .natgeo__black__parr {
    font-size: 10px; }
  .natgeo__black__smallink {
    font-size: 13px; }
  .natgeo__bottom__advert__1, .natgeo__bottom__advert__2 {
    width: 85%;
    margin: 0 auto;
    border: none;
    padding-left: 0; }
  .natgeo__bottom__advert__title {
    font-size: 18px; }
  .natgeo__bottom__advert__input {
    width: 50%; } }
