//BOTTOM SECTION
.natgeo{
	&__bottom {
		margin: 0 10px;
		background-color:$lightgray;
		display: flex;
		flex-wrap: nowrap;
		&__advert {
			&__1, &__2 {
			border-left: 3px solid $mediumgray;
			margin: 20px;
			padding: 0 20px;
			}
			&__1 {
				width: 70%;
			}
			&__2 {
				width: 30%;
				height: 77px;
			}
			&__title {
				padding-top: 2px;
				letter-spacing: 2px;
				align-items: center;
				margin: 10px 0;
				margin-top: 20px;
				font-size: 25px;
				font-family: $titlesFont;
				color: black;
			}
			&__input {
				width: 15%;
				height: 21px;
				margin-bottom: 20px;
				border: 2px solid $mediumgray;
			}
			&__button {
				font-size: 13px;
				color: $darkgray;
				padding: 5px;
				text-align: center;
				width: 80px;
				border: none;
				height: 20px;
				background-color: $yellow;
			}
		}

	}	
}